<!--
  data-configuration-page and data-content-page point to a download page where
  we can find the data for this script. It shouldn't point to the data file
  itself, because that may be updated. As I understand it, the URL of the
  download page remains the same, while the URL of the data file changes with
  each update, so the main program is able to parse the download page and fetch
  the data file from there.

  You can (and should) change this to your liking.

  data-script should point to the compiled/minified Javascript
  data-style should point to the compiled/minified CSS.
-->
<div id="sandbox-infographic"
  data-script="<%= htmlWebpackPlugin.files.js.join(', ') %>"
  data-style="<%= htmlWebpackPlugin.files.css[0] %>"
  data-download-page="data.html"
>
  <!-- Start Infographic -->
  <div id="infographic">
      <script type="text/javascript">
          var animation = document.createElement('style');
          animation.textContent = `
         @keyframes spin {
         0% {
         transform: rotate(0deg);
         }

         100% {
         transform: rotate(360deg);
         }
         }
         `;
          document.head.appendChild(animation);
      </script>
      <div class="loading" style="display: flex; justify-content: center;">
          <div class="spinner" style="border-radius: 50%; border: .75em solid #01689b; border-bottom-color: rgb(1, 104, 155); border-bottom-color: transparent; display: block; height: 5em; width: 5em; -webkit-animation: spin 1.5s linear infinite; animation: spin 1.5s linear infinite;"></div>
      </div>
  </div>
  <!-- End Infographic -->
</div>
